extends layout

block content
  div#maincontent
    div#particles-js
    h1#maintitle 
      p Javascript at its best!
    
    div(class='mc_div')
      p Welcome to #{title}
    //-      
      ul#hexGrid
        
        li(class='hex')
          div(class='hexIn')
            a(class='hexLink', href='#')
              img(src="/images/summerfampic.jpg" alt="")
              h1 This is some title text
              p Some more sample text
        li(class='hex hiddenhex')
        li(class='hex')
          div(class='hexIn')
            a(class='hexLink', href='#')
              img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="")
              h1 This is some title text
              p Some more sample text
        li(class='hex')
          div(class='hexIn')
            a(class='hexLink', href='#')
              img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="")
              h1 This is some title text
              p Some more sample text
        li(class='hex hiddenhex')
        li(class='hex')
          div(class='hexIn')
            a(class='hexLink', href='#')
              img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="")
              h1 This is some title text
              p Some more sample text
        li(class='hex')
          div(class='hexIn')
            a(class='hexLink', href='#')
              img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="")
              h1 This is some title text
              p Some more sample text
