doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style2.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat|Cardo', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    block content

    div#scripts
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='/javascripts/javascript2.js')
      
      
