extends layout

block content
  div#container(class="container")
    header Welcome to #{title}
      span#btn_menu
        i(class="fas fa-bars")
    section
      div#canvas_container(class="glass")
        canvas#canvas
  div#menu(class="menu")
