doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/fontawesome-all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    //script(src="/socket.io/socket.io.js")
    script(src="javascripts/tweenmax.min.js")
    script(src="javascripts/dexie.min.js")
    //script(src="https://unpkg.com/dexie@latest/dist/dexie.js")
    script(src="javascripts/createindexeddb.js")
    script(src="javascripts/particles.js")
    script(src="javascripts/main.js")
