extends layout

block content
  h1= title
  p Welcome to #{title}
  div.container
    div#header
      h1 With CSS-Grid and Tabulator
    div#menu
      button#add-row Add Row

      button#del-row Del Row

      button#clear Del All
    div#content
      div#example-table
    div#footer