html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header,
section,
footer,
div {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 60px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20pt;
  background: grey;
  padding: 12px 0 0 30px;
  color: #fff;
}
